@media (max-width: 940px) {
    /* Whatever CSS we put here will only take effect when the window.innerWidth <= 940px */
    nav {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    section {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 495px) {
    nav {
        grid-template-columns: repeat(1, 1fr);
    }
}